@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Montserrat:wght@200;400;700&display=swap');

:root {
    --prim-color: rgb(26, 141, 194);
    --sec-color: #fff;
    --sec-color-dark: rgb(8, 78, 99);
    --ter-color: rgb(0, 174, 255);
    --mainFocus-size: 292.5px;
    --fix-topLeft: translate(-50%, -50%);
    --textCont-size: 435.75px;
    --btn-right-top: 7.5%;
    --btn-right-left: 83%;
    --btn-left-top: 92.5%;
    --btn-left-left: 17%; 
    --f1-family: "Playfair Display", serif;
    --f2-family: "Montserrat", sans-serif;
    --f3-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: var(--f3-family);
}